

body {
    background-color: #f9ffd9;
}

h1 {
    color: navy;
}



.navbar {
    background-color: #1f3d6e;
    color: #cfd4b4;
    height: 30px;
    justify-content: space-evenly;
}

.navbar a {
    color: #f9ffd9;
}

